@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #bb1515;
}
.center
{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}
h1
{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 3em;
}
h1 span
{
    font-size: 4em;
    line-height: .8em;
}
.Countdown{
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col{
  display: inline-block;
  color: #fff;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 50px;
  color: #fff;
}